
.contentContainer{
    width: 100%;
    min-height: 100vh;
    background-image: url(./bus-content.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.contentLeft{
    width: 40%;
    position: absolute;
    left: 0;
    margin: 7% 6%;

}

.content-head{
    font: normal normal 600 51px/63px "AktifoSemiBold";
    margin: 10px 0;

}
.content-para{
    font: normal normal 300 20px/28px "AktifoLight";
    color: #131313;
    margin:0 0 20px 0 ;

}
.content-lists{
    padding-left: 22px;
}
.content-benefits{
    font: normal normal medium 20px/28px "AktifoMedium";
    color: #131313;
    margin: 30px 0;
}

.content-btn{
    width: 359px;
    height: 75px;
    margin-top: 30px;
    background: #F26621 0% 0% no-repeat padding-box;
    border: 1px solid transparent;
    border-radius: 9px;
    font: normal normal 600 30px/36px "AktifoSemiBold";
    color: #FFFFFF;
    cursor: pointer;
}

.fa-arrow-right{
    margin-left: 20px;
}
