.aboutContainer{
    width: 100%;
    height: 120vh;
    position: relative;
    display: flex;
}

.imgContainer{
    width: 37%;
    height: 100%;
    background-image: url(green-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aboutContentContainer{
    width: 63%;
    height: 100%;
    background-color:  #E5E5E5;
    padding:6% 4%;
}

.aboutHeader{
    font: normal normal 600 51px/63px "AktifoSemiBold";
}

.aboutParaContainer{
    width: 85%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.aboutLogoCont{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 50px;
    overflow: hidden;
}
.aboutLogoCont>img{
    height: 50%;
    margin: auto;
    /* width: 40%; */
}

.aboutPara{
    width: 80%;
}

.aboutParaHead{
    font: normal normal medium 24px/34px "AktifoMedium";
    margin-bottom: 10px;
}
.aboutParagraph{
    font: normal normal 300 19px "AktifoLight";
}

.about-btn{
    width: 359px;
    height: 75px;
    margin-top: 30px;
    background: #F26621 0% 0% no-repeat padding-box;
    border: 1px solid transparent;
    border-radius: 9px;
    font: normal normal 600 30px/36px "AktifoSemiBold";
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    margin-left: 18vw;
}



@media screen and (max-width: 650px) {

    .aboutContainer{
        flex-direction: column-reverse;
        height: auto;
    }
    .imgContainer{
        width: 100%;
        height: 45vh;
        background-image: url('green-mob.png');
    }
    .aboutContentContainer{
        width: 100%;
        height: auto;
    }
    .aboutHeader{
        font: normal normal 600 22px/28px "AktifoSemiBold";
    }
    .aboutParaContainer{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .aboutPara{
        width: 100%;
    }
    .aboutParaHead{
        font: normal normal 300 16px/28px "AktifoSemiBold";
        margin-bottom: 5px;
    }
    .aboutParagraph{
        font: normal normal 300 16px/28px "AktifoBook";
    }
    .about-btn{
        width: 168px;
        height: 34px;
        font: normal normal 600 14px/17px "AktifoSemiBold";
    }
    

}