
.footerContainer{
    width: 100%;
    min-height: 30vh;
    background-color: #1A1A1A;
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

.fOneHead{
    font-family: "AktifoLight";
    color: #ffffff;
    margin-bottom: 20px;
}
.footerOne>img{
    width: 209px;
    height: 71px;
}

.fTwoPara{
    font: normal normal 300 24px/29px "AktifoLight";
    margin-bottom: 10px;
    color: #FFFFFF;
}

.fThreePara{
    color: #727272;
    font: normal normal 300 13px/24px "AktifoLight";
}

@media screen and (max-width: 650px) {

    .footerContainer{
        flex-direction: column;
    }
    .footerOne>img{
        width: 156px;
        height: 53px;
    }
    .fOneHead{
        display: none;
    }
    .fTwoPara{
        font: normal normal 300 11px/13px "AktifoLight";
    }
    .fThreePara{
        font: normal normal 300 8px/14px "AktifoLight";
    }

}